@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Livvic:wght@100;400&family=Montserrat&family=Outfit:wght@300&display=swap");
html {
  overflow-x: hidden;
  font-family: "fraunces";
}

body {
  padding: 0;
  margin: 0;
}

.hide {
  display: none;
}

#hero {
  background-image: url("images/mobile/image-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
}
@media screen and (min-width: 769px) {
  #hero {
    background-image: url("images/desktop/image-header.jpg");
  }
}
#hero #container {
  padding: 1rem 1rem 4rem 1rem;
}
#hero #container article {
  display: flex;
}
#hero #container article h1 {
  margin-top: 7rem;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.5rem;
  width: 100%;
}
#hero #container article #arrow {
  height: 10rem;
  position: absolute;
  top: 527px;
  left: 50%;
}

#nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
#nav h2 {
  color: #fff;
}
#nav li {
  list-style-type: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}
#nav #hamburger {
  align-self: center;
}
@media screen and (min-width: 769px) {
  #nav #hamburger {
    display: none;
  }
}
#nav #hamburger:hover {
  cursor: pointer;
}
#nav #hamburger-menu {
  position: absolute;
  top: 100px;
  width: 93%;
  height: 20rem;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 769px) {
  #nav #hamburger-menu {
    display: none;
  }
}
#nav #hamburger-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  height: 18rem;
}
#nav #hamburger-menu ul li {
  color: #808397;
  text-align: center;
  font-size: 1rem;
  font-weight: 100;
}
#nav #hamburger-menu ul li:hover {
  cursor: pointer;
}
#nav #nav-options {
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
@media screen and (max-width: 768px) {
  #nav #nav-options {
    display: none;
  }
}
#nav #nav-options li {
  font-size: 0.8rem;
}
#nav #nav-options:hover {
  cursor: pointer;
}

#transform-container {
  display: flex;
  flex-wrap: wrap;
}
#transform-container img {
  width: 100%;
}
#transform-container article {
  width: 100%;
  padding: 2rem 0rem 3rem 0rem;
  text-align: center;
  font-size: 1.2rem;
}
#transform-container a {
  text-decoration: none;
  color: black;
  z-index: 2;
}
#transform-container #transform-underline {
  width: 130px;
  height: 10px;
  position: absolute;
  border: 1px solid #FAD400;
  background-color: #FAD400;
  border-radius: 5px;
  top: 1040px;
  display: none;
}
@media screen and (min-width: 769px) {
  #transform-container p {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #transform-container img {
    width: 50%;
    order: 2;
  }
  #transform-container article {
    width: 50%;
    order: 1;
    display: flex;
    font-size: 1.3rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    line-height: 2rem;
  }
}

#stand-out-container {
  display: flex;
  flex-wrap: wrap;
}
#stand-out-container img {
  width: 100%;
}
#stand-out-container article {
  width: 100%;
  padding: 2rem 0rem 3rem 0rem;
  text-align: center;
  line-height: 2rem;
  font-size: 1.2rem;
}
#stand-out-container article a {
  text-decoration: none;
  color: #000;
  z-index: 2;
}
#stand-out-container article #stand-out-underline {
  width: 130px;
  height: 10px;
  position: absolute;
  border: 1px solid #FE7766;
  background-color: #FE7766;
  border-radius: 5px;
  top: 1480px;
  display: none;
}
@media screen and (min-width: 769px) {
  #stand-out-container img {
    width: 50%;
    order: 1;
  }
  #stand-out-container article {
    width: 50%;
    order: 2;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #stand-out-container p {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

#design-photography-container {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 769px) {
  #design-photography-container {
    display: flex;
  }
}
#design-photography-container #design {
  color: #24554A;
  padding-bottom: 3rem;
  background-image: url("images/mobile/image-graphic-design.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#design-photography-container #design h3 {
  text-align: center;
}
#design-photography-container #design p {
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
@media screen and (min-width: 769px) {
  #design-photography-container #design {
    background-image: url("images/desktop/image-graphic-design.jpg");
    width: 50%;
    font-size: 1.1rem;
  }
}
#design-photography-container #photography {
  color: #24554A;
  width: 100%;
  padding-bottom: 3rem;
  background-image: url("images/mobile/image-photography.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#design-photography-container #photography h3 {
  text-align: center;
}
#design-photography-container #photography p {
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
@media screen and (min-width: 769px) {
  #design-photography-container #photography {
    background-image: url("images/desktop/image-photography.jpg");
    width: 50%;
    font-size: 1.1rem;
  }
}

#client-testimonials {
  margin-top: 7rem;
}
#client-testimonials header {
  text-align: center;
  color: #5B636D;
}

#client-testimonials-text {
  padding: 1.5rem 1rem 3rem 1rem;
}
@media screen and (min-width: 769px) {
  #client-testimonials-text {
    display: flex;
  }
}
#client-testimonials-text h3, #client-testimonials-text h4, #client-testimonials-text h6, #client-testimonials-text p {
  text-align: center;
}
#client-testimonials-text img {
  margin: auto;
  display: block;
  border-radius: 50%;
  margin-top: 4rem;
}
#client-testimonials-text h4, #client-testimonials-text h6 {
  margin: 0;
}
#client-testimonials-text h4 {
  color: #24303E;
  padding-bottom: 1rem;
}
#client-testimonials-text p {
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 0.5rem;
  color: #24303E;
}
#client-testimonials-text h6 {
  color: #A7AAAD;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
}
#gallery img {
  height: 50%;
  width: 50%;
}
@media screen and (min-width: 769px) {
  #gallery img {
    width: 25%;
  }
}

footer {
  background-color: #90D4C6;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer h2 {
  text-align: center;
  color: #2C7566;
  margin-bottom: 0.5rem;
}
footer ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  width: 15rem;
}
footer ul li {
  list-style-type: none;
  color: #2C7566;
}
footer ul li:hover {
  color: #fff;
  cursor: pointer;
}
footer #socials {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 1rem;
  width: 10rem;
}
footer #socials:hover {
  cursor: pointer;
}
footer svg {
  fill: #2C7566;
}
footer svg:hover {
  fill: #fff;
}/*# sourceMappingURL=style.css.map */